header{
    margin:0, auto;
    padding: 15px;
    height:160px;
    background-color: gray
}
#title{
    text-align: center;
    color: whitesmoke;
}
#button-div{
    float: right;

}
#input-div{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 18px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
#total-monthly{
    display: flex;
    justify-content: center;
    margin:30px;
}

input{
    height: 25px;
}

button{
    height: 30px;
    width: 90px;
}