header{
    background-color: gray;
    color: white;
    margin: 0, auto;
    padding: 15px;
    height: 140px;
    text-align: center;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
table {
  border-collapse: collapse;
  width: 100%;
}